# Default ignored files
# Virtual environment
venv/
.venv/

# PyCharm project files
.idea/

# Bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs and temporary files
*.log
*.tmp
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Compiled code & caches
*.so
*.dll
*.dylib
*.exe

# Environment and dependency files
.env
*.sqlite3
*.db
